// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/openedx/paragon/blob/master/scss/core/ for reference
$primary-color: #6C7C9A

$primary: #6C7C9A;
$primary-light: #6C7C9A;

$pgn-color-brand-primary: #6C7C9A;